@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
	--background--dark-mode: hsl(207, 26%, 17%);
	--elements--dark-mode: hsl(209, 23%, 22%);
	--text--dark-mode: hsl(0, 0%, 100%);
	--background--light-mode: hsl(0, 0%, 98%);
	--elements--light-mode: hsl(0, 0%, 100%);
	--text--light-mode: hsl(200, 15%, 8%);
	--input--light-mode: hsl(0, 0%, 52%);
	--border-radius: 0.3rem;
	--box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.05), 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
	font-size: 14px;
}
* {
	box-sizing: border-box;
}
ul {
	list-style: none;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
}

button,
.border-country,
.nf-home-btn {
	border: none;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	padding: 0.5rem 1rem;
	cursor: pointer;
	font-size: inherit;
}
svg {
	height: 1.2rem;
	width: 1.2rem;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	content-visibility: auto;
}

body {
	margin: 0;
	font-family: "Nunito Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


/* HEADER */

.top-header {
	padding: 1.5rem 8vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: var(--box-shadow); 
}
h1 {
	font-size: 1.2rem;
}

.mode-switch {
	display: flex;
	align-items: center;
}
.mode-switch label {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 90%;
	font-weight: 600;
}
.mode-switch label:active {
	border: 2px solid var(--input--light-mode);
	border-radius: var(--border-radius);
}


/* MAIN CONTAINER */

main {
	padding: 2rem 8vw;
}

/* SEARCH FIELD */

.search-bar {
	padding: 0.5rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: baseline;
}
.search-field {
	width: clamp(40%, 400px, 90%);
	padding: 1rem 2rem;
	display: flex;
	align-items: flex-end;
	box-shadow: var(--box-shadow);
	border: 2px solid transparent;
	border-radius: var(--border-radius);
}
.search-field label {
	display: flex;
	align-items: center;
}
.search-field svg {
	margin-right: 0.5rem;
	stroke: var(--input--light-mode);
}
.search-input {
	width: 100%;
	border: none;
	outline: none;
	box-shadow: none;
	font-size: inherit;
}
.search-field:focus-within {
	border: 2px solid var(--input--light-mode);
	border-radius: var(--border-radius);
}

/* FILTER / DROPDOWN */

.filter-field {
	position: relative;
	width: clamp(30ch, 250px, 70%);
	margin-top: 2rem;
	padding: 1rem 2rem;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	border: 2px solid transparent;
	font-weight: 600;
}
.filter-heading {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0;
	cursor: pointer;
}

.filter-dropdown {
	position: absolute;
	z-index: 2;
	width: 100%;
	top: 2.8rem;
	left: 0;
	padding: 1rem 0;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
}
.filter-dropdown li {
	padding: 0.5rem 2rem;
	cursor: pointer;
}


/* COUNTRY CARDS */

.cards-container {
	padding: 2rem 0;
	display: grid;
	grid-template: repeat(auto-fill, 450px) / repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-columns: minmax(250px, 1fr);
	grid-auto-rows: 450px;
	column-gap: 2rem;
	row-gap: 4rem;
	justify-content: center;
	justify-items: center;
}
.card {
	width: clamp(250px, 400px, 100%);
	padding: 0;
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	cursor: pointer;
}
.country-flag {
	overflow: hidden;
	height: 200px;
}
.country-flag img {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}
.country-info {
	padding: 1rem 2rem;
}
.country-info h2 {
	font-size: 1.4rem;
}
.country-info p {
	margin: 0.5rem 0;
}
.country-info strong {
	font-weight: 600;
}


/* COUNTRY PAGE */

.country-page {
	padding: 2rem 8vw;
	display: grid;
	grid-template: repeat(3, auto) / 1fr;
}
.country-header {
	padding: 2rem 0 4rem;
}
.back-btn {
	width: 6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.country-image img {
	width: clamp(50%, 600px, 100%);
	height: auto;
}

.country-details {
	padding-top: 2rem;
	display: grid;
	grid-template: repeat(4, auto) / 1fr;
}
.info-chunk strong {
	font-weight: 600;
}
.info-chunk:last-of-type {
	display: grid;
	grid-template: auto auto / repeat(auto-fit, 13ch);
	gap: 0.5rem;
}
.info-chunk:last-of-type h3 {
	grid-column: 1 / -1;
	font-weight: 600;
}
.border-country {
	white-space: nowrap;
	font-size: 90%;
	overflow: hidden;
    text-overflow: ellipsis;
}

/* 404 PAGE */

.nf-page {
	padding: 2rem 8vw;
	display: grid;
	grid-template: repeat(3, auto) / 1fr;
}
.nf-header {
	padding: 2rem 0 4rem;
}
.back-btn,
.nf-home-btn {
	width: 6rem;
	display: flex;
	align-items: center;
}
.back-btn {
	justify-content: space-between;
}
.nf-home-btn {
	justify-content: center;
	margin-top: 2rem;
}

.nf-card {
	display: grid;
	align-items: center;
	gap: 1rem;
}

.nf-card h2 {
	text-transform: uppercase;
}

.nf-card svg {
	width: 10rem;
	height: auto;
}

.nf-search {
	font-weight: 600;
}



/* AUXILLARY CLASSES */

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%); 
	margin: -1px;
}

.focused {
	border: 2px solid var(--input--light-mode);
}

.placeholder-dark::placeholder {
	color: var(--text--dark-mode);
}

.pageEnd {
	height: 100px;
}

.loader {
	min-height: calc(100vh - 100px);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: calc(40vh - 100px);
}
.loader svg {
	height: 10rem;
	width: 10rem;
}


/* MEDIA QUERIES */

@media screen and (min-width: 600px) {
	:root {
		font-size: 16px;
	}
	.search-bar {
		padding: 1rem 0;
		flex-direction: row;
		align-items: center;
	}
	.search-field {
		margin-right: 2rem;
	}
	.filter-field {
		margin-top: 0;
	}
	
	.country-details {
		grid-template: repeat(3, auto) / repeat(2, 1fr);
	}
	h2 {
		grid-column: span 2;
	}
	.info-chunk:last-of-type {
		grid-column: span 2;
	}

	.nf-card {
		grid-template-columns: auto 1fr;
		gap: 3rem;
	}
	.nf-card h2 {
		grid-column: 2 / 3;
	}

}

@media screen and (min-width: 900px) {
	.country-page {
		grid-template: auto 1fr / 1fr 1fr;
		column-gap: 4rem;
	}
	.country-header {
		grid-column: span 2;
	}
	.country-image {
		grid-row: 2 / 3;
	}
	.country-details {
		padding-top: 0;
	}
}