@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
	--background--dark-mode: hsl(207, 26%, 17%);
	--elements--dark-mode: hsl(209, 23%, 22%);
	--text--dark-mode: hsl(0, 0%, 100%);
	--background--light-mode: hsl(0, 0%, 98%);
	--elements--light-mode: hsl(0, 0%, 100%);
	--text--light-mode: hsl(200, 15%, 8%);
	--input--light-mode: hsl(0, 0%, 52%);
}

body {
	margin: 0;
	background-color: var(--background--light-mode);
	font-family: "Nunito Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: var(--text--light-mode);
	text-align: center;
}

a {
	color: #61dafb;
}
